.answer {
    font-size: 2em;
    text-align: end;
    max-width: 100%;
    width: 40%;
    margin-left: 40%;
    margin-right: 20%;
}
h3 {
    text-align: start;
    max-width: 100%;
    width: 40%;
    margin-left: 20%;
    margin-right: 40%;
    margin-top: 32px;
    margin-bottom: 32px;
}
#interviewed > h2 {
    margin: 0;
}
#interviewed {
    display: flex;
    align-items: center;
    justify-content: center;
}
#next, #previous {
    margin-left: 10px;
    margin-right: 10px;
    border: 0;
    width: 30px;
    height: 60px;
    font-size: 2em;
    background-color: #ef233c;
    color: #2b2d42;
}
#next:hover, #previous:hover {
    background: linear-gradient(90deg, #ef233c, #d90429);
}