/* colors
black : #2b2d42
grey : #8d99ae
white : #edf2f4
red clear : #ef233c
red dark : #d90429
*/
.maze {
    display: flex;
    flex-direction: column;
}
.line_maze {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.line_maze > div {
    background-color: #8d99ae;
    border: 3px solid #d90429;
    width: 3em;
    height: 3em;
}
.void_line {
    width: 500px;
}
.maze_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.maze_menu > .first{
}
.maze_menu > .second{
    margin-left: 9;
}
div.corner {
    background-image: url("../img/cherry.webp");
    background-size: 100%;
}
div.pacman {
    background-image: url("../img/fantom.webp");
    background-size: 100%;
}