/* colors
black : #2b2d42
grey : #8d99ae
white : #edf2f4
red clear : #ef233c
red dark : #d90429
*/
.maze {
    display: flex;
    flex-direction: column;
}
.line_maze {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.line_maze > div {
    background-color: #8d99ae;
    border: 3px solid #d90429;
    width: 3em;
    height: 3em;
}
.maze_menu {
    display: flex;
    flex-direction: row;
    align-items: start;
}
.maze_menu > .first{
    width: 25%;
}
.maze_menu > .second{
    width: 25%;
    margin-left: 50%;
}