/* colors
black : #2b2d42
grey : #8d99ae
white : #edf2f4
red clear : #ef233c
red dark : #d90429
*/
#rapport {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paragraphe-rapport {
    max-width: 75%;
}