body {
    background-color: #21262d ;
}
h1 {
    color: red;
    text-align: center;
    font-size: 4em;
    font-weight: 800;
}
p {
    color: rgb(233, 208, 208);
}
nav[id="page-nav"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
nav[id="page-nav"] > a {
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    padding: 14px ;
    width: 4em;
    color: black;
    background-color: red;
}
nav[id="page-nav"] > a:hover {
    background: linear-gradient(90deg, red, orange);
    cursor: wait;
}
div[class="expo-optimiste"] {
    background-color: rgb(233, 208, 208);
}
div[class="expo-optimiste"] > p {
    color: #21262d
}
div[class="expo-pessimiste"] {
    background: linear-gradient(180deg, #21262d, #0a0d11);
}
div[class="expo-pessimiste"] > p {
    color: rgb(233, 208, 208);
}