/* colors
black : #2b2d42
grey : #8d99ae
white : #edf2f4
red clear : #ef233c
red dark : #d90429
*/

body {
    background-color: #2b2d42;
}
h1 {
    color: #ef233c;
    text-align: center;
    font-size: 4em;
    font-weight: 800;
}
h2 {
    color: #ef233c;
    text-align: center;
    font-size: 3em;
    font-weight: 800;
}
p {
    color: #edf2f4;
}
nav[id="page-nav"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
nav[id="page-nav"] > a {
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    padding: 14px ;
    width: 4em;
    color: black;
    background-color: #ef233c;
}
nav[id="page-nav"] > a:hover {
    background: linear-gradient(90deg, #ef233c, #d90429);
}
div[class="expo-optimiste"] {
    background-color: #edf2f4;
}
div[class="expo-optimiste"] > p {
    color: #2b2d42
}
div[class="expo-pessimiste"] {
    background-color: #2b2d42 ;
}
div[class="expo-pessimiste"] > p {
    color: #ef233c;
}