/* colors
black : #2b2d42
grey : #8d99ae
white : #edf2f4
red clear : #ef233c
red dark : #d90429
*/
.grid_ttt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line_ttt {
    width: 468px;
    height: 150px;
    background-color: #8d99ae;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.line_ttt > div {
    background-color: #8d99ae;
    border: 3px solid #d90429;
    width: 150px;
    height: 150px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.cercle {
    background-image: url("../img/cercle.webp");
}
.cross {
    background-image: url("../img/cross.webp");
}
.void:hover {
    background-image: url("../img/cross.webp");
    opacity: .5;
}
/*reset button*/
#button-div {
    text-align: center;
}
#button-div > button {
    border-width: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    padding: 14px ;
    width: 4em;
    color: #2b2d42;
    background-color: #ef233c;
}
#button-div > button:hover {
    background: linear-gradient(90deg, #ef233c, #d90429);
}
img {
    max-width: 100%;
}